{% extends 'base.html' %}

{% block content %}

<div id="vanta-signup" class="auth-wrapper">
    <div class="auth-card">

        <h1 class="auth-title">Signup</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="auth-btn">Signup</button>
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

<script>
VANTA.DOTS({
  el: "#vanta-signup",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200,
  minWidth: 200,
  scale: 1,
  scaleMobile: 1,
  color: 0x202124,
  color2: 0x1a0e1a,
  backgroundColor: 0x131212,
  size: 5.8,
  spacing: 54,
  showLines: false
})
</script>

{% endblock %}
