body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background: white;
    border-bottom: 1px solid #ddd;
}

/* TOP NAV */
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #7a1c1c;
}

.nav-auth a {
    text-decoration: none;
    color: #7a1c1c;
    font-size: 14px;
    margin: 0 5px;
}

.nav-auth a:hover {
    text-decoration: underline;
}

/* BOTTOM NAV */
.nav-bottom {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
}

.nav-bottom a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-bottom a:hover {
    color: #7a1c1c;
    border-bottom: 2px solid #7a1c1c;
}

/* HERO */
.hero {
    background: #f3e5d8;
    padding: 50px;
    text-align: center;
}

/* PRODUCTS */
.heading {
    text-align: center;
    margin: 30px 0;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
