body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

/* NAVBAR MAIN */
.navbar {
    background: white;
    border-bottom: 1px solid #ddd;
}

/* TOP NAV */
.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #7a1c1c;
}

/* SEARCH */
.search-box input {
    width: 400px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

/* ICONS */
.nav-icons span {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* BOTTOM NAV */
.nav-bottom {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 25px;
}

.nav-bottom a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-bottom a:hover {
    color: #7a1c1c;
    border-bottom: 2px solid #7a1c1c;
}


/* HERO */
.hero {
    background: #f3e5d8;
    padding: 50px;
    text-align: center;
}

/* PRODUCTS */
.heading {
    text-align: center;
    margin: 30px 0;
}

.products {
    display: flex;
    justify-content: center;
}

.box {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* REMOVE LINK STYLE */
.product-link {
    text-decoration: none;
    color: black;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   /* so many items go to next lines */
}

.product-link {
    text-decoration: none;
    color: black; /* to remove underline */
}
