# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual Environment
env/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Node (if used)
node_modules/


# Secrets
.env
