{% extends 'admin/base.html' %}
{% block content %}

<h3>Edit Product</h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input name="name" value="{{ product.name }}">
    <input name="price" value="{{ product.price }}">
    <input name="metal" value="{{ product.metal }}">
    <input name="purity" value="{{ product.purity }}">
    <input name="weight" value="{{ product.weight }}">
    <input name="image_url" value="{{ product.image_url }}" placeholder="Image URL">
    <textarea name="description">{{ product.description }}</textarea>

    <input type="file" name="image">

    <button class="btn btn-dark">Update Product</button>
</form>

{% endblock %}
