{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h3>Search results for "{{ query }}"</h3>

    <div class="row mt-4">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ product.image_url }}" class="card-img-top">
                <div class="card-body text-center">
                    <h6>{{ product.name }}</h6>
                    <p>₹{{ product.price }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products found</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
