<!DOCTYPE html>
<html>
<head>
    <title>Tanishq Jewellery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">

    <!-- TOP NAV -->
    <div class="nav-top">
        <div class="logo">TANISHQ</div>

        <div class="nav-auth">
            <a href="{% url 'login' %}">Login</a>
            <span>|</span>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>

    <!-- BOTTOM NAV -->
    <div class="nav-bottom">
        <a href="#">All Jewellery</a>
        <a href="#">Gold</a>
        <a href="#">Diamond</a>
        <a href="#">Earrings</a>
        <a href="#">Rings</a>
        <a href="#">Daily Wear</a>
        <a href="#">Collections</a>
        <a href="#">Wedding</a>
        <a href="#">Gifting</a>
        <a href="#">More</a>
    </div>

</div>

<!-- HERO -->
<div class="hero">
    <h1>Timeless Jewellery for Every Occasion</h1>
    <p>Gold • Diamond • Silver • Bridal</p>
</div>

<h2 class="heading">Featured Jewellery</h2>

<div class="products">
    <div class="box">
        <img src="https://res.cloudinary.com/dseku9heo/image/upload/v1766512381/Kalyan__0640_dwig8w.jpg">
        <h3>Gold Necklace</h3>
        <p>₹ 50,000</p>
    </div>

    <div class="box">
        <img src="https://res.cloudinary.com/dseku9heo/image/upload/v1766512151/KC03064_1_hsfxlr.webp">
        <h3>Diamond Ring</h3>
        <p>₹ 80,000</p>
    </div>

    <div class="box">
        <img src="https://res.cloudinary.com/dseku9heo/image/upload/v1766512272/15929610a_r7hdc6.webp">
        <h3>Silver Bangles</h3>
        <p>₹ 25,000</p>
    </div>
</div>

</body>
</html>
