{% extends 'base.html' %}

{% block title %}Login | Tanishq{% endblock %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-5 login-box">
        <h4 class="text-center mb-3">Login to your account</h4>

        <form method="POST">
            {% csrf_token %}

            <input type="email" name="email" class="form-control mb-3" placeholder="Email">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">

            <button class="btn btn-dark w-100">LOGIN</button>
        </form>

        <p class="text-center mt-3">New User? <a href="{% url 'signup' %}">Sign Up here</a></p>
    </div>
</div>
{% endblock %}
