<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-5 login-box">

            <h4 class="text-center mb-3">Create a new account</h4>

            <p class="text-center">
                Already a member? <a href="login.html">Login here</a>
            </p>

            <input type="text" class="form-control mb-3"
                   placeholder="Full Name">

            <input type="text" class="form-control mb-3"
                   placeholder="Mobile Number">

            <input type="email" class="form-control mb-3"
                   placeholder="Email ID">

            <input type="password" class="form-control mb-3"
                   placeholder="Set Password (Min 8 characters)">

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    I agree to the Terms & Conditions
                </label>
            </div>

            <button class="btn btn-dark w-100">SIGN UP</button>

            <p class="text-center text-muted mt-3">
                We will never share your details.
            </p>

        </div>
    </div>
</div>
