
{% extends 'base.html' %}

{% block title %}Sign Up | Tanishq{% endblock %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-5 login-box">
        <h4 class="text-center mb-3">Create a new account</h4>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" class="form-control mb-3" placeholder="Full Name">
            <input type="email" name="email" class="form-control mb-3" placeholder="Email">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
            <button class="btn btn-dark w-100">SIGN UP</button>
        </form>

        <p class="text-center mt-3">Already a member? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}
